/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 
code below 
*/
html {
    background-color: rgba(122, 191, 191, .5);
}  
body {
    width: 414px;
    margin: 0 auto;
    background-color: #F2F2F2;
}

main {
    margin-top: 0;
}
/*text*/
h1 {
    font-size: 40px;
}
h1, h2, h3, nav a, nav span, menu li, #social li, footer p{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}
h2 {
    font-size: 30px;   
}
h3 {
    font-size: 25px;
}
nav a, nav span, menu li, #social li, footer{
    font-size: 20px;
}
p, dd, li, nav, input {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}
dt {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
a, menu svg{
    text-decoration: none;
    color: #EB5428;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center; 
}
a:hover {
    color:#7ABFBF;
}
svg:hover {
    stroke: #7ABFBF;
    background-color: #EB5428;
}
a:focus, svg:focus {
    color:#7ABFBF;   
    background-color: #EB5428;
}
/*header*/
header{
    background-color: #F2F2F2;
    padding-top: 40px;
    margin:125px auto;   
}
menu {
    display: flex;
    Margin:5px;
    margin-top: 10px;
    align-items: center;
    width: 414px;
    justify-content: space-evenly;
}
menu li{
    list-style: none;
    
}
header img{
    width: 414px;
}
/*main*/
main dl{
    display:grid;
    padding: 10px;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
#ingredients ol{
    list-style-type: disc;
    padding-left: 25px;
}
#directions ol {
    list-style-type: auto;
    padding-left: 25px;
}
#side-dish {
    background-color:#7ABFBF;
    padding-top: 10px;
}
.recipe-card:hover {
    background-color:#EB5428;
}
.side {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5px;
    padding-left: 10px;
    grid-gap: 0px; 
}
.recipe-card{
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    overflow: initial;
}
.recipe-card img{
    width: 8rem;
    height: 8rem;
    position: relative;
    padding-right: 10px;
}
.card-content {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: start;  
}
.card-content p {
    padding: 0px;
}
.card-content span{
    font-weight: bold;
}
/* nav */
.hamburger-menu > svg {
    vertical-align:middle;
}
nav {
    display: grid;
    grid-template-columns: 70px 244px 70px;
    grid-template-rows: 75px;
    height: 67px;
    justify-content: left;  
    align-content: space-evenly;
    gap: 5px;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
}
nav h2 {
  visibility:hidden;
  height:1px;
}
nav h2{
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    grid-column-end: -1;
    position: absolute;
}
nav ul a {
    text-decoration: none;
    color: #ffffff;
}
nav ul {
    display:flex;
    overflow: hidden;
    max-height: 0px;
    transition: max-height .2s ease-out;
    flex-direction: column;   
}
label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: transparent;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(-45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
.extra {
    position:absolute;
    width: 225px;
    background-color: #EB5428;  
}
.extra:hover {
    stroke:#7ABFBF;
}
.avatar {
    position:absolute;
    right: 0px;
    width: 67px;
    line-height: 1;
    padding-top: 5px; 
}
.icon-tabler-search, .icon-tabler-tools-kitchen {
    background-color: #EB5428;
}
/*form*/
form {
    display: flex;
    z-index: 3;
    position: fixed;
    top: 80px;
    flex-direction: row;
    background-color: #F2F2F2;
    width:414px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
legend {
    visibility: hidden;
    height: 10px;
}
#search-form {
    display: flex;
    align-items: center;
}
#search {
    display: flex;
    align-items: center;
    border: #EB5428 solid 2px;
}
form input{
    padding: 5px;
    width: 250px;
    height: 25px;
}
/* footer */
footer h2,  footer h4{
    visibility: hidden;
    height: 1px;
}
#social ul{
    display: flex;
    Margin:5px;
    margin-top: 10px;
    align-items: center;
    width: 414px;
    justify-content: space-evenly;
}
footer img {
    width: 200px;
    display: block;
    position: relative;
    padding-bottom: 15px;
    margin: 0 auto;
}
footer p{
    line-height: 0.5;
    padding: 5px;
}
@media screen and (min-width:768px){
    body{
        width: 768px;
    }
    form {
        width: 669px;
        z-index: 1;
        top: 0px;
        background-color: transparent;
        justify-content: right;
    }
    .avatar {
        width: 67px;
        padding-left: 699px;
        padding-top: 10px;  
    }
    .extra {
        width: 60px;
        padding-bottom: 14px;
        padding-right: 5px;
        padding-left: 5px;
        
    }
    header{
        background-color: #F2F2F2;
        padding-top: 40px;
        margin:151px auto;
        margin-bottom: 20px;
    }
    header h1 {
        text-align: left;
        padding-left: 10px;
    }
    menu {
        display: flex;
        Margin:5px;
        margin-top: 10px;
        align-items: center;
        width: 768px;
        justify-content: space-evenly;
        position: absolute;
        top: 23.5%;
        left: 49.45%;
        height: 78px;
        transform: translate(-50%, -50%);
        background-color:rgba(255, 255, 255, .75);
    }
    menu li{
        list-style: none;  
    }
    header img{
        width: 768px;
    }
    nav ul {
        flex-direction: row;
        overflow:visible;   

    }
    nav ul a {
        color: #EB5428;
    }
    nav label, nav input {
        display: none;
    }
    .hamburger-menu {
        display: none;
    }
    nav {
        display: grid;
        grid-template-columns: 70px 617px 70px;
        grid-template-rows: 75px 75px;
        height: 137px;
        align-content: space-evenly;
        gap: 5px;
        position: fixed;
        top: 0px;
        background-color: #ffff;
        z-index: 0;
        padding-left: 0px;
        padding-right: 0px;
        filter: drop-shadow(0px 2px 2px);
    }
    .more a{
        padding: 15px;
        padding-top: 75px;
    }
    nav img {
        width: 50px;
        height: 50px;
    }
    nav span {
        line-height: 0.9;
        color: #eb5428;
    }
    footer {
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding:30px;
    }
    main dl {
        grid-template-columns: max-content max-content;
        height: fit-content;
        justify-content: center;
    }
    #details dd{
        padding: 3px;
    }
    .side {
        grid-template-columns: 1fr 1fr;
    }
    .flexy {
        display: flex;
        padding-top: 5px;
    }
}
@media screen and (min-width:1280px){
    body{
        width: 1280px;
    }
    form {
        width: 1280px;
        z-index: 2;
        top: 100px;
        background-color: #F2F2F2;
        justify-content: center;
    }
    header h1 {
        text-align: center;
        padding-left: 10px;
    }
    nav {
        display: grid;
        grid-template-columns: 1280px;
        grid-template-rows: 75px;
        height: 78px;
        align-content: space-evenly;
        gap: 5px;
        position: fixed;
        top: 0px;
        background-color: #ffff;
        z-index: 0;
        padding-left: 0px;
        padding-right: 0px;
        filter: drop-shadow(0px 2px 2px);
    }
    .more a{
        padding: 15px;
        padding-top: 10px;
    }
    .extra, .avatar {
        position: relative;
        padding: 15px;
        padding-top: 0px;
    }
    .extra {
        background-color: #EB5428;
        width: 70px;
        height: 60px;
        padding-top: 10px;
    }
    nav ul li {
        padding-top: 0px;
    }
    .header-flex {
        display: flex;
    }
    menu {
     all:initial;
     background-color: #ffffff;
     border: #eb5428 solid 1px;
     padding: 25px;
    }
    header img{
        width: 525px;
    }
    #details {
        background-color:#0D0D0D;
        color:#7ABFBF;
    }
    #details h3 {
        color:#7ABFBF;
        padding-top: 5px;
    }
    main dl {
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        padding-left: 116px;
    }
    main dt {
        grid-row-start: 1;
    }
    main dd {
        grid-row-start: 2;
    }
    .side {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .recipe-card {
        flex-direction:column;
        align-items: center;
    }
    .recipe-card img {
        width: 230px;
        height: 230px;
    }
}
